header {
  position: fixed;
  width: 99%;
  background: white;
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  box-shadow: #000000 0px 0px 40px;
  border-radius: 25px;
  border-bottom: red ridge 13px;
  border-top: ridge rgb(0, 0, 0) 13px;
  margin-left: 5px;
  top: 10px;
}

.pokeball {
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, red 50%, white 50%);
  border: 3px solid black;
  border-radius: 50%;
  position: absolute;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  animation: girar 2s linear infinite;
  transform-origin: center;
  box-shadow: black 0px 0px 25px;
}

.pokeball::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  background: black;
  top: 50%;
  transform: translateY(-50%);
}

.pokeball::after {
  content: "";
  width: 10px;
  height: 10px;
  background: white;
  border: 3px solid black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes girar {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

header ul {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

header ul li {
  text-decoration: none;
  margin: 15px 25px;
  list-style: none;
  padding: 0px 12px;
  transition: all ease 0.12s;
  font-size: larger;
}
