header {
  position: fixed;
  width: 100%;
  background: white;
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  box-shadow: #fff 0px 2px 100px;
  border-radius: 25px;
  border-bottom: red ridge 13px;
  border-top: ridge black 13px;
}
.linea {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 5px;
  background-color: black;
  margin: 20px 0;
}

.pokeball {
  width: 40px;
  height: 40px;
  background: radial-gradient(circle at center, white 20%, red 80%);
  border: 3px solid black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.pokeball::before {
  content: "";
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  position: absolute;
  border: black 3px solid;
}
header {
  top: 10;
}
ul {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
ul li {
  text-decoration: none;
  margin: 10px 15px;
  list-style: none;
  padding: 0px 12px;
  transition: all ease 0.4s;
}
