* {
  box-sizing: content-box;
}

body {
  background-color: #a7cecb;
}

.flex {
  display: flex;
}
.bg-gray {
  background-color: #5f6062;
}
.bg-azul {
  background-color: #a7cecb;
}
.bg-violeta {
  background-color: #23022e;
}
.bg-tea {
  background-color: #c9dcb3;
}
.gray {
  color: #5f6062;
}
.azul {
  color: #a7cecb;
}
.violeta {
  color: #23022e;
}
.tea {
  color: #c9dcb3;
}

.violeta:hover {
  background-color: #a7cecb;
  font-size: large;
  cursor: pointer;
  box-shadow: #5f6062 4px 5px;
  text-decoration: underline;
  padding: 0px 12px;
}
